<div class="container-fluid"  id="tb">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">s.no</th>
        <th scope="col">First-name</th>
        <th scope="col">Last-name</th>
        <th scope="col">Policy</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td>m b</td>
        <td> 
            <i  class="fa fa-pencil fa-lg" aria-hidden="true"></i>
            <i class="fa fa-plus"></i>
          </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
 
</div>